<header>
    <h1>Adopt A Pet</h1>
</header>
<ul>
    <br>
    {{#each petList}}
    <li>
        <img src={{imgUrl}} width="270px">
        <div class="centre">
            <h3>{{name}}</h3>
            <form action="/pets/{{petId}}" method="GET">
                <button type="submit" class="view">View</button>
            </form>
            <form action="/pets/edit/{{petId}}" method="GET">
                <button type="submit" class="edit">Edit</button>
            </form>
            <form action="/pets/delete/{{petId}}" method="POST">
                <button type="submit" class="delete">Delete</button>
            </form>
        </div>
    </li>
    {{/each}}
</ul>
<form action="/pets/new" method="GET">
    <button type="submit">Add Your Pet</button>
</form>