<h1>Edit Pet Listing</h1>
{{#with foundPet}}
<form action='/pets/edit/{{petId}}' method="POST">
    <label for="name">Enter Pet Name: </label>
    <input type="text" name="name" placeholder="Enter Pet Name" value="{{name}}" /><br>

    <label for="imgUrl">Enter Pet Url: </label>
    <input type="image" name="imgUrl" placeholder="Enter URL" value="{{imgUrl}}" /><br>

    <label for="description">Enter Item Description: </label>
    <input type="text" name="description" placeholder="Enter Description" value="{{description}}" /><br>

    <label for="yearsAge">Years old: </label>
    <input type="text" name="yearsAge" placeholder="Enter Age" value="{{yearsAge}}" /><br>

    <button type="submit">Edit Pet</button>
</form>
{{/with}}